.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 20px 170px;

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C35, 0.36%, #b923E1 );
   font-size: 22px;
    cursor: pointer;
    transition: 0.5s;

}